@media screen and (max-width: 991px) {
   .users-list {
      justify-content: center;
   }
   .users-list .users-list-item {
      width: 390px;
   }
   .single-users-page img {
      width: 100%;
   }
}