
/* Index page start */
.users-list {
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
}
.users-list  .users-list-item {
   width: 33.3%;
   display: flex;
   background: white;
   text-decoration: none;
   box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
}
.users-list-item img {
   width: 35%;
   object-fit: cover;
}
.users-list-item div {
   width: 65%;
   padding-left: 15px;
   height: 100%;
   padding: 10px;
   text-decoration: none;
}
.users-list-item h6 {
   color: var(--color-scheme);
   margin-bottom: 8px;
}
.users-list-item p {
   margin-bottom: 8px;
   line-height: normal;
   font-weight: 400;
   color: #212529;
}
.users-list-item span {
   font-weight: 300;
   color: #212529;
}
/* Index page end */

/* Single users page */
.single-users-page {
   padding: 40px 45px;
   background: white;
}
.single-users-page h2 {
   margin: 30px 0 35px;
}
/* Single users end */