
/* Index page start */
.users-list {
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
}
.users-list  .users-list-item {
   width: 33.3%;
   display: flex;
   background: white;
   text-decoration: none;
   box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
}
.users-list-item img {
   width: 35%;
   object-fit: cover;
}
.users-list-item div {
   width: 65%;
   padding-left: 15px;
   height: 100%;
   padding: 10px;
   text-decoration: none;
}
.users-list-item h6 {
   color: var(--color-scheme);
   margin-bottom: 8px;
}
.users-list-item p {
   margin-bottom: 8px;
   line-height: normal;
   font-weight: 400;
   color: #212529;
}
.users-list-item span {
   font-weight: 300;
   color: #212529;
}
/* Index page end */

/* Single users page */
.single-users-page h2 {
   margin: 30px 0 35px;
}
/* Single users end */
.value-replacer-lang {
   padding: 0px;
   border: none;
}
.select2-container--default .select2-selection--multiple {
   border-radius: 0px;
}
.value-replacer-text {
   padding: 0px;
   border: none;
}
.value-replacer-department,
.value-replacer-designation,
.value-replacer-position {
   padding: 0px;
   border: none;
}
.department.select2_single_container,
.designation.select2_single_container,
.position.select2_single_container {
   width: 100%;
}
.value-replacer-text textarea {
   width: 100%;
   border-radius: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
   color: #000;
   padding: 0 5px;
   font-size: initial;
}