@media screen and (max-width: 1500px) {
   .primary-list-titles {
      margin-top: 5px;
   }
}
@media screen and (max-width: 991px) {
   main {
      padding-top: 59px;
   }
   .mobile-dashboard,
   #mobile-search {
      display: block;
   }
   .formed-page {
      padding: 0px;
      margin-bottom: 30px;
   }
   .formed-page > form {
      padding: 15px;
   }
   .single-complaints-page form {
      padding: 0px;
   }
   .main-btn {
      padding: 7px 10px;
      border: none;
      border-radius: 0px;
   }
   .add-button {
      padding: 8px;
      bottom: 15px;
      right: 20px;
   }
   .formed-page .input-container-blocked label {
      margin: 0px;
      width: 100%;
   }
   .formed-page input,
   .formed-page textarea {
      border-radius: 0px;
      width: 100%;
   }
   .simditor .simditor-toolbar > ul {
      padding: 0px;
   }
   .simditor .simditor-toolbar > ul li {
      padding: 0px;
   }
   .simditor .simditor-toolbar > ul > li > .toolbar-item {
      width: 30px;
      height: 30px;
      line-height: 30px;
   }
   .formed-page .input-container-blocked {
      margin-bottom: 15px;
   }
   .formed-page .main-btn {
      margin: 0px 0px 0px auto;
   }
   .notifications-page .width-25:first-child,
   .complaints-page .width-25:first-child,
   .questionnaire-page .width-33:first-child {
      width: 65%;
   }
   .notifications-page .width-25:nth-child(2),
   .notifications-page .width-25:nth-child(3),
   .complaints-page .width-25:nth-child(2),
   .complaints-page .width-25:nth-child(3),
   .questionnaire-page .width-33:nth-child(2),
   .slider-page .width-33:nth-child(2) {
      display: none;
   }
   .notifications-page .width-25:last-child,
   .complaints-page .width-25:last-child,
   .questionnaire-page .width-33:last-child {
      width: 35%;
   }
   .formed-page .primary-list-titles {
      margin: 0px;
      margin-bottom: 1px;
   }
   .single-ideas-page .question-text {
      border-radius: 0;
      width: 100%;
      padding: 15px;
      margin-bottom: 15px;
   }
   .single-ideas-page .single-option {
      padding: 5px 15px;
      border-radius: 0px;
      margin-bottom: 3px;
   }
   .dash-links-seperator {
      margin: 15px 30px;
      background-color: #fff;
   }
   .single-complaints-page,
   .questionnaire-single-page {
      padding: 15px;
   }
   .formed-page input,
   .formed-page textarea 
   .formed-page label,
   .formed-page .input-container-inline label,
   .formed-page .input-container-inline div,
   .formed-page .input-container-inline input {
      border-radius: 0px;
      width: 100%;
   }
   .spaced-btw-btns {
      margin: 0px;
   }
   .ads-page .main-btn,
   .slider-page .main-btn {
      margin: 0 0 0 auto;
   }

   .complaints-page .select2_single_container {
      margin: 0px 0 15px 0;
      width: 100%;
   }
   .complaints-page .select2_single_container .select2-selection--single {
      border-radius: 0;
   }
   .checkbox-container {
      width: 150px !important;
      margin: 0 0 0 auto;
   }
   .questionnaire-single-page .variants-list h2 {
      margin: 15px 0 0 0;
      padding: 15px 0;
      font-size: 20px;
   } 
   .questionnaire-single-page .variants-list form,
   .questionnaire-single-page .single-variant {
      margin-bottom: 15px;
   }
   .questionnaire-single-page .store-form {
      position: relative;
   }
   .questionnaire-single-page .store-form input {
      border-radius: 0;
      min-width: 100%;
      padding-right: 44px;
   }
   .questionnaire-single-page .store-form .main-btn,
   .questionnaire-single-page .single-variant form:first-child button {
      position: absolute;
      top: 1px;
      right: 1px;
      height: 43px;
      width: 43px;
      overflow: hidden;
   } 
   .questionnaire-single-page .single-variant {
      height: 45px;
      position: relative;
   }
   .questionnaire-single-page .single-variant:last-child {
      margin-bottom: 0px;
   }
   .questionnaire-single-page .store-form .main-btn span {
      font-size: 30px;
      margin: 0 55px 0 -3px;
   }
   .questionnaire-single-page .single-variant form:first-child {
      margin: 0;
      position: relative;
      min-width: 100%;
   }
   .questionnaire-single-page .single-variant form:first-child input {
      min-width: 100%;
      margin: 0px;
      border-radius: 0px;
      padding-right: 88px;
   }
   .questionnaire-single-page .single-variant form:first-child button {
      position: absolute;
      top: 1px;
      right: 44px;
      margin: 0;
   }
   .questionnaire-single-page .single-variant form:first-child button span {
      margin: 0 50px 0 2px;
   }
   .questionnaire-single-page .single-variant form:last-child {
      margin: 0px;
   }
   .questionnaire-single-page .single-variant form:last-child span{
      margin: 0 50px 0 2px;
   }
   .questionnaire-single-page .single-variant button {
      margin: 0px !important;
      position: absolute;
      top: 1px;
      right: 1px;
      height: 43px;
      width: 43px;
      overflow: hidden;
   }

   .slider-page .width-33:last-child {
      width: 66.6%;
   }
   .form-image {
      max-width: 100%;
      margin-top: 15px;
   }
   .select2_single_container .select2-selection--single,
   .input-container-blocked .select2_single_container .select2-container--default {
      width: 100%;
      border-radius: 0px;
   }
   .primary-list-titles {
      margin: 0 0 1px 0;
   }
   .video {
      width: 100%;
   }
   .catalog-modal .modal-header {
      height: 44px;
   }
   .catalog-modal .modal-body {
      padding: 15px 0 30px 0;
   }
   .catalog-modal .catalog-item {
      margin: 0 0 15px 0;
      width: 100%;
   }

}