
h2 {
  color: var(--color-scheme);
  font-size: 22px;
}
.main-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.main-btn span {
  margin-right: 5px;
  font-size: 20px;
}
.title-seperator {
  border-top: 2px solid var(--color-scheme);
  padding-top: 35px;
  margin-top: 40px;
}
input[type=file] {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background: white;
  position: relative;
  padding: 8px 10px;
  width: 100%;
  cursor: pointer;
  font-weight: 300;
}
input[type=file]::-webkit-file-upload-button, input[type=file]::file-selector-button {
  display: none;
}
input[type=file]:after {
  content: "Обзор...";
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: black;
  background: #f7f7f7;
  padding: 0px 20px;
}
label {
  font-size: 15px;
}
input, textarea {
  border: 1px solid #d2d2d2;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  border-radius: 5px;
}
input:read-only {
  background-color: #f1f1f1;
}
.input-error {
  font-size: 15px;
  color: red;
  margin: 5px 0 0 auto;
  display: none;
}
.value-replacer {
  border: 1px solid #d2d2d2;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  background: white;
  min-height: 45px;
}
.formed-page {
  padding: 40px 45px;
  background: white;
}
.formed-page .main-btn {
  margin-left: auto;
  margin-top: 30px;
}
.form-image {
  margin-top: 10px;
  max-width: 60%;
}
.dash-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dash-search-container .select2_single_container {
  width: 500px;
  margin: 0 0 10px;
}
.dash-search-container a {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  background: var(--color-scheme);
  color: white;
  text-decoration: none;
  border: 1px solid var(--color-scheme);
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
}
.form-flashed {
  background: var(--color-scheme);
  color: white;
  padding: 8px;
  text-align: center;
  margin-bottom: 30px;
}
.spaced-btw-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.spaced-btw-btns button {
  margin: 0 !important;
}
.delete-btn {
  background: #9e0505;
  color: white;
  border-color: #9e0505;
}
.checkbox-container {
  width: 60%;
  display: flex;
  align-items: center;
}
.checkbox-container input {
  width: auto !important;
  margin-right: 10px;
}
.checkbox-container label {
  font-weight: 300 !important;
}
/* Password input styles start */
.input-password-container {
  display: flex;
  position: relative;
}
.input-password-container input {
  width: 100%;
}
.input-password-container span {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #bdbdbd;
  cursor: pointer;
}
/* Password input styles end */

/* Inline inputs styles start */
.input-container-inline {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
.input-container-inline label {
  width: 40%;
  font-weight: 500;
}
.input-container-inline input {
  width: 60%;
}
.admin .input-container-inline input {
  width: 100%;
  padding: 0px;
  border: none;
}
.admin .select2_single_container {
  margin: 0px;
}
.input-container-inline .input-password-container input {
  width: 100%;
}
.input-container-inline textarea {
  width: 60%;
}
.input-container-inline .input-password-container {
  width: 60%;
}
.input-container-inline .input-error {
  width: 60%;
}
.input-container-inline .value-replacer {
  width: 60%;
}
.input-container-inline .select2_single_container {
  width: 60%;
  max-width: 100%;
}
.input-container-inline .select2_single_container .select2-container--default {
  box-shadow: none;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}
.admin .input-container-inline .select2_single_container .select2-container--default {
  border-radius: 0px;
}
.input-container-inline .select2_single_container .select2-selection__clear {
  display: none;
}
.input-container-inline .simditor_container {
  width: 60%;
}
.input-container-inline .sp-replacer {
  width: 60% !important;
}
.inlined-form-inside-label {
  display: inline;
}
.inlined-form-inside-label button {
  border: none;
  padding: 0;
  background: transparent;
  font-weight: bold;
  color: var(--color-scheme);
}
/* Inline inputs styles end */

/* Blocked inputs styles start */
.input-container-blocked {
  margin-bottom: 30px;
}
.input-container-blocked label {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 500;
}
.input-container-blocked input {
  width: 100%;
}
.input-container-blocked .select2_single_container {
  max-width: 100%;
  margin-top: 0;
}
.input-container-blocked .select2_single_container .select2-container--default {
  box-shadow: none;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}
/* Blocked inputs styles end */

/* Primary list start */
.primary-list-titles {
  padding: 10px 20px;
  background: white;
  font-size: 15px;
  margin: 15px 0 5px;
  display: flex;
  font-weight: bold;
}
.primary-list-item {
  padding: 10px 20px;
  background: white;
  font-size: 15px;
  display: flex;
  border-bottom: 1px solid #0000001f;
  color: black;
  text-decoration: none;
  position: relative;
  font-weight: 300;
}
.primary-list-item:hover {
  background: #f1f1f1;
  color: black;
}
.primary-list-item div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}
.primary-list-item .list-new-item {
  color: var(--color-scheme);
  font-weight: bold;
}
/* Primary list end */

/* Spinner styles start */
.spinner-container {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;
  flex-direction: column;
  display: none;
  opacity: 0;
  transition: display 0s, opacity 0.5s;
}
.spinner-container p {
  margin-top: 20px;
  text-align: center;
}
.spinner-container.show {
  display: flex;
  opacity: 1;
}
.spinner-container .spinner-border {
  color: #1A078F;
}
/* Spinner styles end */


/* Select2 single styles start*/
.select2_single_container {
  max-width: 500px;
  margin: 15px 0 20px;
}
.select2_single_container .select2_single {
  width: 100%;
}
.select2_single_container .select2-container--default {
  box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
  font-weight: 300;
  font-size: 15px;
}
.select2_single_container .select2-selection--single {
  padding: 8px 7px;
  height: auto;
  border: none;
}
.select2_single_container .select2-selection__arrow {
  top: 20% !important;
  right: 5px !important;
}
.select2_single_container .select2-selection__placeholder {
  color: #212529 !important;
}
.select2_single_container .select2-selection__clear {
  padding-top: 4px;
}
/* Select2 single dropdown styles start*/
.select2_single_dropdown {
  border: none;
  box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
  font-size: 15px;
  top: -44px;
}
.select2_single_dropdown .select2-search__field {
  font-size: 15px;
  padding: 6px 10px;
  border: 1px solid #0000001f !important;
}
.select2_single_dropdown .select2-search--dropdown{
  padding: 4px;
}
.select2_single_dropdown .select2-results__options {
  padding: 0;
  max-height: 282px !important;
}
.select2_single_dropdown .select2-results__option {
  padding: 8px 15px;
  font-weight: 300;
}
.select2_single_dropdown .select2-results__option--selected {
  background-color: var(--color-scheme);
  color: white;
}
.select2_single_dropdown .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-scheme);
  color: white;
}
/* Select2 single dropdown styles end*/
/* Select2 single styles end*/


/* Select2 multiple styles start*/
.select2_multiple_container .select2-selection--multiple {
  border: 1px solid #d2d2d2 !important;
  padding: 3px 5px 7px;
}
.select2_multiple_container .select2-container--focus select2-selection--multiple {
  border: 1px solid #d2d2d2 !important;
}
.select2_multiple_container .select2-selection__choice {
  background-color: var(--color-scheme) !important;
  color: white;
  font-weight: 300;
  border: none !important;
  padding: 5px !important;
  padding-right: 24px !important;
  font-size: 16px;
}
.select2_multiple_container .select2-selection__choice__remove {
  color: white !important;
  left: auto !important;
  right: 0 !important;
  border-left: 1px solid white !important;
  border-right: none !important;
  padding: 0 6px !important;
  height: 100%;
}
.select2_multiple_container .select2-selection__choice__remove:hover {
  color: white !important;
  background: transparent !important;
}
.select2_multiple_container .select2-search--inline {
  display: inline-flex;
  margin-bottom: 7px;
}
/* Select2 multiple dropdown styles start*/
.select2_multiple_dropdown {
  font-size: 15px !important;
}
.select2_multiple_dropdown .select2-results__options {
  max-height: 272px !important;
}
.select2_multiple_dropdown .select2-results__option{
  padding: 6px 10px;
  position: relative;
}
.select2_multiple_dropdown .select2-results__option--selected {
  background-color: #f1f1f1 !important;
}
.select2_multiple_dropdown .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #f1f1f1;
  color: initial;
}
.select2_multiple_dropdown .select2-results__option--selected::after {
  content: '✓';
  position: absolute;
  right: 10px;
  color: var(--color-scheme);
  font-weight: bold;
}
/* Select2 multiple dropdown styles end*/
/* Select2 multiple styles end*/

/* Simditor wysiwyg styles start */
.simditor .simditor-body img {
  margin: 20px 0 5px;
  max-width: 100%;
  height: auto;
}
.simditor .simditor-body, .editor-style {
  font-family: 'Roboto', sans-serif;
}
/* Simditor wysiwyg styles end */

/* Spectrum Colorpicker start */
.sp-replacer {
  border: 1px solid #d2d2d2 !important;
  height: 45px !important;
  padding: 5px;
}
.sp-preview {
  background: white !important;
}
.sp-preview-inner {
  width: 32px !important;
}
.sp-dd {
  display: none !important;
}
.add-button {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0;
  border-radius: 50% !important;
  position: fixed;
  right: 40px;
  top: 100vh;
  margin-top: -80px;
  align-items: center;
  justify-content: center;
}
.add-button span {
  font-size: 30px;
}
/* Spectrum Colorpicker end */

