
h2 {
   color: var(--color-scheme);
   font-size: 22px;
}
.main-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.main-btn span {
  margin-right: 5px;
  font-size: 20px;
}
.title-seperator {
  border-top: 2px solid var(--color-scheme);
  padding-top: 35px;
  margin-top: 40px;
}
input[type=file] {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background: white;
  position: relative;
  padding: 8px 10px;
  width: 100%;
  cursor: pointer;
  font-weight: 300;
}
input[type=file]::-webkit-file-upload-button, input[type=file]::file-selector-button {
  display: none;
}
input[type=file]:after {
  content: "Обзор...";
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: black;
  background: rgb(233, 236, 239);
  padding: 0px 20px;
}
label {
   font-size: 15px;
}
input, textarea {
   border: 1px solid #d2d2d2;
   padding: 8px 10px;
   font-size: 16px;
   font-weight: 300;
   line-height: 1.7;
   border-radius: 5px;
}
input:read-only {
  background-color: #f1f1f1;
}
.input-error {
  font-size: 15px;
  color: red;
  margin: 5px 0 0 auto;
  display: none;
}
.value-replacer {
  border: 1px solid #d2d2d2;
  padding: 8px 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  background: white;
  min-height: 45px;
}
.formed-page {
  padding: 40px 45px;
  background: white;
}
.formed-page .main-btn {
  margin-left: auto;
  margin-top: 30px;
}
/* Password input styles start */
.input-password-container {
  display: flex;
  position: relative;
}
.input-password-container input {
  width: 100%;
}
.input-password-container span {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #bdbdbd;
  cursor: pointer;
}
/* Password input styles end */

/* Inline input styles start */
.input-container-inline {
   display: flex;
   margin-bottom: 15px;
   flex-wrap: wrap;
}
.input-container-inline label {
   width: 40%;
   font-weight: 500;
}
.input-container-inline input {
   width: 60%;
}
.input-container-inline .input-password-container input {
  width: 100%;
}
.input-container-inline textarea {
   width: 60%;
}
.input-container-inline .input-password-container {
  width: 60%;
}
.input-container-inline .input-error {
  width: 60%;
}
.input-container-inline .value-replacer {
  width: 60%;
}
.input-container-inline .select2_single_container {
  width: 60%;
  max-width: 100%;
}
.input-container-inline .select2_single_container .select2-container--default {
  box-shadow: none;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
}
.input-container-inline .select2_single_container .select2-selection__clear {
  display: none;
}
/* Inline input styles start */

/* Primary list start */
.primary-list-titles {
  padding: 10px 20px;
  background: white;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  font-weight: bold;
}
.primary-list-item {
  padding: 10px 20px;
  background: white;
  font-size: 15px;
  display: flex;
  border-bottom: 1px solid #0000001f;
  color: black;
  text-decoration: none;
  position: relative;
}
.primary-list-item:hover {
  background: #f1f1f1;
  color: black;
}
.primary-list-item div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}
/* Primary list end */

/* Select2 single styles start*/
.select2_single_container {
   max-width: 500px;
   margin: 15px 0 20px;
}
.select2_single_container .select2_single {
   width: 100%;
}
.select2_single_container .select2-container--default {
  box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
  font-weight: 300;
  font-size: 15px;
}
.select2_single_container .select2-selection--single {
  padding: 8px 7px;
  height: auto;
  border: none;
}
.select2_single_container .select2-selection__arrow {
  top: 20% !important;
  right: 5px !important;
}
.select2_single_container .select2-selection__placeholder {
   color: #212529 !important;
}
.select2_single_container .select2-selection__clear {
  padding-top: 4px;
}
/* Select2 single dropdown styles start*/
.select2_single_dropdown {
  border: none;
  box-shadow: 0px 3px 10px 0px rgb(0 0 0 / 10%);
  font-size: 15px;
  top: -44px;
}
.select2_single_dropdown .select2-search__field {
  font-size: 15px;
  padding: 6px 10px;
  border: 1px solid #0000001f !important;
}
.select2_single_dropdown .select2-search--dropdown{
  padding: 4px;
}
.select2_single_dropdown .select2-results__options {
  padding: 0;
  max-height: 282px !important;
}
.select2_single_dropdown .select2-results__option {
  padding: 6px 15px;
  font-weight: 300;
}
.select2_single_dropdown .select2-results__option--selected {
  background-color: var(--color-scheme);
  color: white;
}
.select2_single_dropdown .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--color-scheme);
  color: white;
}
/* Select2 single dropdown styles end*/
/* Select2 single styles end*/


/* Select2 multiple styles start*/
.select2_multiple_container .select2-selection--multiple {
  border: 1px solid #d2d2d2 !important;
  padding: 3px 5px 7px;
}
.select2_multiple_container .select2-container--focus select2-selection--multiple {
  border: 1px solid #d2d2d2 !important;
}
.select2_multiple_container .select2-selection__choice {
  background-color: var(--color-scheme) !important;
  color: white;
  font-weight: 300;
  border: none !important;
  padding: 5px !important;
  padding-right: 24px !important;
  font-size: 16px;
}
.select2_multiple_container .select2-selection__choice__remove {
  color: white !important;
  left: auto !important;
  right: 0 !important;
  border-left: 1px solid white !important;
  border-right: none !important;
  padding: 0 6px !important;
  height: 100%;
}
.select2_multiple_container .select2-selection__choice__remove:hover {
  color: white !important;
  background: transparent !important;
}
.select2_multiple_container .select2-search--inline {
  display: inline-flex;
  margin-bottom: 7px;
}
/* Select2 multiple dropdown styles start*/
.select2_multiple_dropdown {
  font-size: 15px !important;
}
.select2_multiple_dropdown .select2-results__options {
  max-height: 272px !important;
}
.select2_multiple_dropdown .select2-results__option{
  padding: 6px 10px;
  position: relative;
}
.select2_multiple_dropdown .select2-results__option--selected {
  background-color: #f1f1f1 !important;
}
.select2_multiple_dropdown .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #f1f1f1;
  color: initial;
}
.select2_multiple_dropdown .select2-results__option--selected::after {
  content: '✓';
  position: absolute;
  right: 10px;
  color: var(--color-scheme);
  font-weight: bold;
}
/* Select2 multiple dropdown styles end*/
/* Select2 multiple styles end*/