@media screen and (max-width: 991px) {
   .welcome-note {
      display: none;
   }
   .top-row {
      margin-top: 5px;
   }
   .login-form {
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .form-box {
      margin: 0px;
      width: 350px;
   }
   .copyright {
      font-size: 10px;
      margin: 8px 20px;
   }
   .logo {
      max-width: 50%;
      margin-left: 20px;
   }
}