@media screen and (max-width: 991px) {
   .container {
      position: static;
      height: auto;
   }
   .top-row {
   position: static;
   }
   .middle-row {
      position: static;
      height: auto;
   }
   .bottom-row {
      position: static;
   }
   .welcome-note {
      text-align: center;
      margin: 50px auto;
   }
   .form-box {
      float: none;
      margin: 0 auto;
      margin-bottom: 50px;
   }
   .copyright {
      text-align: center;
   }
   .logo {
      max-width: 60%;
   }
   .login-page {
      height: auto;
   }
}