body {
   background: url('/img/login/background.jpg') no-repeat; 
   background-size: cover;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
iframe {
   display: none !important;
}
header, footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 100px;
}
.logo img {
   height: 60px;
}
#langDropdown {
   display: flex;
   align-items: center;
   font-weight: 500;
}
#langDropdown::after {
   margin-left: 10px;
}
#langDropdown .dropdown-menu {
   min-width: 140px;
}
.nav-lang-dropdown img {
   width: 22px;
   margin-right: 5px;
}
.nav-lang-dropdown button {
   float: right;
}
main {
   padding:0 0 150px 0;
}
.welcome-note {
   font-size: 33px;
   color: #1A078F;
   font-weight: 300;
   padding-right: 200px;
   line-height: 1.4;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.welcome-note span {
   display: block;
   font-size: 45px;
   letter-spacing: 2px;
   text-transform: uppercase;
   font-weight: bold;
}
.form-box {
   width: 400px;
   box-shadow: rgb(165 165 165 / 30%) 0px 0px 18px 5px;
   background-color: #fff;
   padding: 40px 45px 50px;
   float: right;
}
.login-title {
   color: rgb(59,59,59);
   font-size: 24px;
   margin-bottom: 30px;
   font-weight: 500;
}
.form-box input {
   width: 100%;
   display: block;
   border: 1px solid #363449;;
   border-radius: 4px;
   padding: 6px 13px;
   margin-bottom: 15px;
}
.form-box input::placeholder {
   opacity: 0.5;
}
.password-item {
   position: relative;
}
.password-item button {
   position: absolute;
   top: 6px;
   right: 6px;
   border: none;
   background: none;
   color: #94c710;
}
.submit-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 38px;
}
.submit-btn {
   border: none;
   background-color: #4d4a6d;
   border-radius: 5px;
   color: #C3DF7B;
   padding: 13px 21px;
}
.form-box a {
   text-decoration: none;
   color: black;
   margin-left: 10px;
   transition: 0.3s;
   font-weight: 500;
}
.copyright {
   color: black;
   font-size: 16px;
   font-weight: 500;
   line-height: 21px;
   margin-bottom: 5px;
}
.container {
   position: relative;
   height: 100vh;
}
.top-row {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   margin-top: 25px;
   z-index: 2;
}
.middle-row {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100vh;
}
.bottom-row {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
}

/* Forgot Password page */

.reset-password-request {
   position: relative;
   background-color: #fff;
   padding: 80px 40px;
   width: 400px;
   text-align: center;
   margin: 100px auto;
}
.reset-password-request img {
   display: block;
   margin: 0 auto;
}
.reset-password-request .title {
   display: block;
   margin: 20px 0;
   font-size: 24px;
   text-transform: capitalize;
   font-weight: 400;
}
.reset-password-request .text {
   display: block;
   margin-bottom: 30px;
}
.reset-password-request form {
   position: relative;
}
.reset-password-request label {
   position: absolute;
   top: -10px;
   left: 8px;
   display: block;
   color: #0C81B1;
   font-size: 13px;
   background: #fff;
   padding: 0 5px;
}
.reset-password-request input {
   display: block;
   height: 50px;
   border: 2px solid #00BCD4;
   border-radius: 3px;
   width: 100%;
   padding: 12px;
   font-size: 18px;
}
.reset-password-request button {
   position: relative;
   border: none;
   color: #fff;
   background-color: #00BCD4;
   height: 50px;
   width: 100%;
   border-radius: 3px;
   margin: 20px 0;
}
.reset-password-request button:active {
   background-color: rgba(0,188,212,0.5);
}
.reset-password-request button:hover {
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.reset-password-request a {
   text-decoration: none;
   color: #00BCD4;
}
.reset-password-request .spinner {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #00BCD4;
   display: none;
}
.reset-password-request .spinner-border {
   margin: 5px;
}
.reset-password-email {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #fff;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 40px;
   z-index: -1;
}
.reset-password-email .icon {
   display: flex;
   justify-content: center;
}
.reset-password-email span {
   color: green;
   font-size: 50px;
   border: 4px solid green;
   border-radius: 50%;
   width: 75px;
   height: 75px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.reset-password-email button {
   background-color: transparent;
   color: #000;
   border: 2px solid #C9CFD6;
   height: auto;
   padding: 14px;
}
.reset-password-email button:active {
   background-color: rgba(0,0,0,0.05);
}

/* Reset Password */
.reset-password {
   position: relative;
   background-color: #fff;
   padding: 80px 40px;
   width: 400px;
   text-align: center;
   margin: 100px auto;
}
.reset-password .title {
   display: block;
   margin: 20px 0;
   font-size: 24px;
   text-transform: capitalize;
   font-weight: 400;
}
.reset-password .text {
   display: block;
   margin-bottom: 30px;
}
.reset-password form {
   width: 100%;
}
.reset-password label {
   position: relative;
   width: 100%;
}
.reset-password .new-password {
   margin-bottom: 10px;
}
.reset-password input {
   display: block;
   height: 50px;
   border: 2px solid #C9CFD6;
   border-radius: 3px;
   width: 100%;
   padding: 12px;
   font-size: 18px;
}
.reset-password span {
   position: absolute;
   top: 0px;
   right: 10px;
   height: 100%;
   display: flex;
   align-items: center;
   color: #8B8B8B;
   cursor: pointer;
}
#errors {
   color: red;
   font-size: 12px;
   text-align: start;
   margin: 5px 5px -10px 5px;
   display: none;
}
.reset-password button {
   position: relative;
   border: none;
   color: #fff;
   background-color: #0059D6;
   height: 50px;
   width: 100%;
   border-radius: 3px;
   margin: 20px 0;
}
.reset-password button:hover {
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.reset-password button:active {
   background-color: rgba(0,89,214,0.5);
}
.reset-password .spinner {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #0059D6;
   display: none;
}
.reset-password .spinner span {
   position: relative;
   width: 20px;
   height: 20px;
   color: #fff;
}
.reset-password-success {
   position: absolute;
   top: 0;
   left: 0;
   background-color: #fff;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 40px;
   width: 100%;
   z-index: -1;
}
.reset-password-success .icon {
   display: flex;
   justify-content: center;
}
.reset-password-success span {
   position: relative;
   font-size: 70px;
   color: green;
}
.reset-password-success a,
.reset-password-error a {
   display: flex;
   color: #fff;
   background-color: #0059D6;
   height: 50px;
   width: 100%;
   border-radius: 3px;
   margin: 20px 0;
   text-decoration: none;
   justify-content: center;
   align-items: center;
}
.reset-password-success a:hover,
.reset-password-error a:hover {
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.reset-password-success a:active,
.reset-password-error a:active {
   background-color: rgba(0,89,214,0.5);
}
.reset-password-error {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 500px;
   padding: 40px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.reset-password-error .icon {
   display: flex;
   justify-content: center;
}
.reset-password-error span {
   position: relative;
   top: 0px;
   left: 0px;
   font-size: 80px;
   color: red;
}