.login-page {
   height: 100vh;
}
.nav {
   background-color: white;
}
#langDropdown {
   display: flex;
   align-items: center;
   font-weight: 500;
}
#langDropdown::after {
   margin-left: 10px;
}
#langDropdown .dropdown-menu {
   min-width: 140px;
}
.nav-lang-dropdown img {
   width: 22px;
   margin-right: 5px;
}
.nav-lang-dropdown button {
   float: right;
}
.logo {
   max-width: 40%;
}
.welcome-note {
   font-size: 33px;
   color: #1A078F;
   font-weight: 300;
   padding-bottom: 80px;
   line-height: 1.4;
   text-transform: uppercase;
}
.welcome-note span {
   display: block;
   font-size: 45px;
   letter-spacing: 2px;
   text-transform: uppercase;
   font-weight: bold;
}
.form-box {
   width: 400px;
   box-shadow: rgb(165 165 165 / 30%) 0px 0px 18px 5px;
   background-color: #fff;
   padding: 40px 45px 50px;
   margin-bottom: 20px;
   float: right;
}
.login-title {
   color: rgb(59,59,59);
   font-size: 24px;
   margin-bottom: 30px;
   font-weight: 500;
}
.form-box input {
   width: 100%;
   display: block;
   border: 1px solid #363449;;
   border-radius: 4px;
   padding: 6px 13px;
   margin-bottom: 15px;
}
.form-box input::placeholder {
   opacity: 0.5;
}
.password-item {
   position: relative;
}
.password-item button {
   position: absolute;
   top: 6px;
   right: 6px;
   border: none;
   background: none;
   color: #94c710;
}
.submit-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 38px;
}
.submit-btn {
   border: none;
   background-color: #4d4a6d;
   border-radius: 5px;
   color: #C3DF7B;
   padding: 13px 21px;
}
.form-box a {
   text-decoration: none;
   color: black;
   margin-left: 10px;
   transition: 0.3s;
   font-weight: 500;
}
.copyright {
   color: black;
   font-size: 16px;
   font-weight: 500;
   line-height: 21px;
   margin-bottom: 5px;
}
.container {
   position: relative;
   height: 100vh;
}
.top-row {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   margin-top: 25px;
   z-index: 2;
}
.middle-row {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100vh;
}
.bottom-row {
   position: absolute;
   bottom: 0px;
   left: 0px;
   width: 100%;
}