/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess
/.well-known
/cgi-bin
/.vscode
#Public files
/public/videos/entertainment/*
/public/videos/knowledge/*
/public/videos/news/*
/public/books/*
/public/catalog/videos/*
/public/catalog/videos/*
/public/files/complaints/*
/public/files/ideas/*
#Public images
/public/img/dashboards/*
!/public/img/dashboards/temp
/public/img/dashboards/temp/*
/public/img/entertainment/galleries/*
/public/img/entertainment/images/*
/public/img/ideas/simditor/*
!/public/img/ideas/simditor/default
/public/img/news/*
!/public/img/news/simditor
/public/img/news/simditor/*
!/public/img/news/simditor/default
/public/img/projects/*
!/public/img/projects/simditor
/public/img/projects/simditor/*
!/public/img/projects/simditor/default
/public/img/slider
/public/img/users/*
!/public/img/users/original
/public/img/users/original/*
!/public/img/users/admin.jpg
!/public/img/users/default.png