/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.htaccess
/.well-known
/cgi-bin
/.vscode

#-----Public videos start-----
/public/videos/entertainment/*
!/public/videos/entertainment/posters
!/public/videos/entertainment/subtitles
/public/videos/entertainment/posters/*
!/public/videos/entertainment/posters/default.jpg
/public/videos/entertainment/subtitles/*

/public/videos/knowledge/*
!/public/videos/knowledge/posters
!/public/videos/knowledge/subtitles
/public/videos/knowledge/posters/*
!/public/videos/knowledge/posters/default.jpg
/public/videos/knowledge/subtitles/*

/public/videos/news/*
#-----Public videos end-----


#-----Public books start-----
/public/books/*
#-----Public books end-----


#-----Public catalog start-----
/public/catalog/videos/*
#-----Public catalog end-----


#-----Public files start-----
/public/files/complaints/*
/public/files/ideas/*
#-----Public files end-----


#-----Public images start-----
/public/img/dashboards/*
!/public/img/dashboards/temp
/public/img/dashboards/temp/*
/public/img/entertainment/galleries/*
/public/img/entertainment/images/*
/public/img/ideas/simditor/*
!/public/img/ideas/simditor/default
/public/img/news/*
!/public/img/news/simditor
/public/img/news/simditor/*
!/public/img/news/simditor/default
/public/img/projects/*
!/public/img/projects/simditor
/public/img/projects/simditor/*
!/public/img/projects/simditor/default
/public/img/slider/*
/public/img/users/*
!/public/img/users/original
/public/img/users/original/*
!/public/img/users/admin.jpg
!/public/img/users/default.png
#-----Public images end-----