@media screen and (max-width: 991px) {
    .videos-list .single-video {
        width: 100%;
        margin-bottom: 15px;
    }
    .single-video .video-description {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 44px;
    }
    .single-video .video-description p {
        margin: 0px;
    }
}