
.catalog-modal .modal-content {
   background : #f1f1f1;
}
.catalog-modal .modal-header {
   font-weight: 400;
   background: var(--color-scheme);
   color: white;
   padding: 15px 30px;
}
.catalog-modal .modal-title {
   font-weight: 400;
   display: flex;
   align-items: center;
   font-size: 18px;
   font-weight: bold;
}
.catalog-modal .modal-title span {
   margin-right: 8px;
}
.catalog-modal .modal-header button {
   color: white;
   background: transparent;
   border: none;
   padding: 0;
}
.catalog-modal .modal-body {
   padding: 10px 20px;
}
.catalog-modal .catalog-list {
   display: flex;
   flex-wrap: wrap;
}
.catalog-modal .catalog-item {
   background: white;
   width: calc(16.6% - 10px);
   margin: 10px;
}
.catalog-modal .catalog-item video {
   width: 100%;
   height: 180px;
}
.catalog-modal .catalog-item p {
   padding: 4px 10px 10px;
   margin: 0%;
   width: -moz-fit-content;
   width: fit-content;
   cursor: pointer;
}