.projects-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.projects-list a {
   width: calc(50% - 20px);
   margin-bottom: 40px;
   text-decoration: none;
   background: white;
   overflow: hidden;
   padding: 20px;
}
.projects-list a img {
   width: 100%;
   height: 220px;
   object-fit: cover;
   border-radius: 4px;
   transition: 0.3s;
}
.projects-list a div {
   max-width: 100%;
   background: white;
   z-index: 2;
   position: relative;
 }
 .projects-list a div p {
   color: var(--color-scheme);
   font-weight: bold;
   margin: 15px 0 5px;
 }
 .projects-list a div span {
   color: black;
   font-size: 14px;
   text-transform: capitalize;
}

.elem, .elem * {
	box-sizing: border-box;
	margin: 0 !important;	
}
.elem {
	display: inline-block;
	font-size: 0;
	width: 33%;
	border: 20px solid transparent;
	border-bottom: none;
	background: #fff;
	padding: 10px;
	height: auto;
	background-clip: padding-box;
}
.elem > span {
	display: block;
	cursor: pointer;
	height: 0;
	padding-bottom:	70%;
	background-size: cover;	
	background-position: center center;
}
