section {
   margin-top: 15px;
}
.galleries-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.galleries-list a {
   width: calc(50% - 20px);
   margin-bottom: 40px;
   text-decoration: none;
   background: white;
   overflow: hidden;
   padding: 20px;
}
.galleries-list a img {
   width: 100%;
   height: 220px;
   object-fit: cover;
   border-radius: 4px;
   transition: 0.3s;
}
.galleries-list a div {
   max-width: 100%;
   background: white;
   z-index: 2;
   position: relative;
 }
 .galleries-list a div p {
   color: var(--color-scheme);
   font-weight: bold;
   margin: 15px 0 5px;
 }
 .galleries-list a div span {
   color: black;
   font-size: 14px;
   text-transform: capitalize;
}

/* Single gallery start */
.gallery {
   display: flex;
   flex-wrap: wrap;
}
.elem, .elem * {
	box-sizing: border-box;
	margin: 0 !important;	
}
.elem {
   width: calc(33.3% - 30px);
   border: none;
   background: #fff;
   padding: 15px;
   margin: 15px !important;
}
.elem > span {
	display: block;
	cursor: pointer;
	height: 0;
	padding-bottom:	70%;
	background-size: cover;	
	background-position: center center;
}
/* Single gallery end */