@media screen and (max-width: 1500px) {
   .departments-list-item h2 {
      font-size: 16px;
   }
   .departments-list-item {
      margin-bottom: 30px;
   }
   .users-list-item h6 {
      font-size: 15px;
   }
}

@media screen and (max-width: 991px) {
   main {
      padding: 59px 0 0 0;
   }
   .departments-list-item {
      margin-bottom: 15px;
   }
   .users-list .users-list-item {
      width: 100%;
   }
   .users-list-item h6 {
      font-size: 18px;
   }
}