
h2 {
   margin-bottom: 35px;
}
/* Change colorScheme block start */
.colors-list {
   display: flex;
   width: 60%;
}
.colors-item {
   cursor: pointer;
   width: 22px;
   height: 22px;
   border-radius: 50%;
   margin-right: 30px;
   display: block;
}
.lightblue {
   background-color: #00bcd4;
}
.purple {
   background-color: #9368e9;
}
.blue {
   background-color: #2ca8ff;
}
.green {
   background-color: #18ce0f;
}
.orange {
   background-color: #ff9800;
}
.red {
   background-color: #f44336;
}
.burgundy {
   background-color: #e91e63;
}
.colors-item.active {
   box-shadow: 0px 0px 5px 8px rgb(0 0 0 / 15%);
}
/* Change colorScheme block end */

/* Change background start */
.theme-list {
   display: flex;
   justify-content: start;
   align-items: center;
   margin: 10px 0;
   width: 100%;
   padding: 0;
   margin: 0;
}
.theme-items {
   margin: 10px;
   cursor: pointer;
   display: block;
   width: 18%;
}
.theme-items.active {
   box-shadow: 0px 0px 5px 8px rgb(0 0 0 / 15%);
}
.theme-items img {
   width: 100%;
   object-fit: cover;
   border-radius: 5px;
}
.inputBox {
   width: 50px;
   height: 20px;
   background-color: rgb(231,231,231);
   border-radius: 50px;
   position: relative;
   box-shadow: 0 5px 5px rgb(0 0 0 / 20%), inset 0 5px 5px rgb(0 0 0 / 10%);
   margin: 20px 0 30px 160px;
}
.inputBox .title {
   position: absolute;
   top: 0;
   left: -145px;
   font-size: 16px;
   text-transform: none;
   color: black;
   font-weight: bold;
   width: 150px;
}
.inputBox label {
   font-size: 23px;
   position: absolute;
   cursor: pointer;
   transform: translate(-5px, -6px);
   transition: transform .4s;
}
.inputBox input:checked ~ label {
   transform: translate(25px, -6px);
}
/* Change background end */
