@media screen and (max-width: 1500px) {
   /* Main page & categories start */
   .wrapper {
      margin-bottom: 30px;
   }
   .wrapper a {
      width: calc(50% - 15px);
   }
   /* Main page & categories end */
}
@media screen and (max-width: 991px) {
   .wrapper a {
      margin: 5px;
      width: auto;
   }
}