/* Entertainment page start */
/* Categories start */
img {
   max-width: 100%;
}
.wrapper {
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
}
.wrapper a {
   width: calc(50% - 20px);
   overflow: hidden;
   text-decoration: none;
}
.wrapper a img {
   transition: 0.3s;
   width: 100%;
}
.wrapper a:hover img {
   transform: scale(1.2);
}
.wrapper a p {
   width: 100%;
   background: white;
   display: flex;
   padding: 15px 20px;
   text-decoration: none;
   color: var(--color-scheme);
   font-weight: bold;
   z-index: 2;
   position: relative;
   margin: 0;
}/* Categories end */