
.variants-list h2 {
   margin-bottom: 40px;
}
.store-form {
   display: flex;
   margin-bottom: 20px;
   align-items: flex-start;
}
.store-form input {
   min-width: 650px;
}
.store-form button {
   margin: 0 0 0 20px !important;
}
.single-variant {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   align-items: flex-start;
}
.single-variant .update-form {
   display: flex;
   align-items: flex-start;
}
.single-variant .update-form input {
   min-width: 650px;
}
.single-variant .update-form button {
   margin: 0 0 0 20px;
}
.single-variant .delete-form button {
   margin: 0 0 0 20px;
}