@media screen and (max-width: 991px) {
   .change-ava-container {
      flex-wrap: wrap;
   }
   .change-ava-container img {
      border-radius: 0;
      width: 100%;
   }
   .change-ava-container div {
      padding: 15px;
      width: 100%;
   }
   .change-ava-container div button {
      margin: 0 auto 4px 0 !important;
   }
   .change-ava-container div p {
      margin-bottom: 0;
      line-height: 1.2;
   }
   h2 {
      font-size: 20px;
      margin: 0px;
      padding: 0 15px;
   }
   .input-container-inline input,
   .input-container-inline .select2_multiple_container,
   .select2_multiple_container .select2-selection--multiple,
   .input-container-inline textarea {
      width: 100%;
      border-radius: 0;
   }
   .title-seperator {
      margin: 0;
      padding: 15px;
   }
   .input-container-inline label {
      width: 100%;
   }
   .input-container-inline .input-password-container {
      width: 100%;
   }
   .kpm_icon-Image_custom {
      display: none;
   }
}