h2 {
   margin: 30px 0 35px;
}
.profile-page {
   padding: 40px 45px;
   background: white;
}
.change-ava-container {
   display: flex;
}
.change-ava-container img {
   width: 40%;
   border-radius: 5px;
}
.change-ava-container div {
   width: 60%;
   padding-left: 40px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
}
.change-ava-container div button {
   margin-bottom: 15px;
}
.change-ava-container div p {
   margin-bottom: 0;
}
.select2_multiple_container {
   width: 60%;
}
.update-profile-btn {
   margin-left: auto;
   display: flex;
   margin-top: 30px;
}
.update-password-btn {
   margin-left: auto;
   display: flex;
   margin-top: 30px;
}





/* .profile-page {
   position: relative;
   background-color: #fff;
   padding: 24px 20px 80px 40px;
}
.profile-page .title {
   margin-bottom: 30px;
   text-transform: uppercase;
   color: #00bcd4;
}
.edit-info-form {
   display: flex;
   flex-direction: column;
}
.edit-info-form img {
   display: inline-block;
   height: 270px;
   width: 300px;
   background-color: #c4c4c4;
   object-fit: cover;
}
.upload {
   position: relative;
}
.upload-btn {
   display: inline-block;
   background-color: #00bcd4;
   height: 40px;
   width: 150px;
   text-align: center;
   line-height: 38px;
   color: #fff;
   cursor: pointer;
   position: absolute;
   bottom: 80px;
   left: 330px;
}
.upload input {
   position: absolute;
   top: 155px;
   right: 223px;
}
.image-description {
   position: absolute;
   bottom: 10px;
   left: 330px;
   line-height: 24px;
}
.acc-info, .change-password {
   text-transform: uppercase;
   font-size: 30px;
   margin-top: 40px;
}
.info-block {
   display: flex;
   flex-direction: column;
}
.info-block label {
   font-size: 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 50px;
}
.info-block input {
   margin: 10px 80px 10px 10px;
   width: 400px;
   padding: 5px 10px;
   border: 2px solid #00bcd4;
}
.position input {
   background-color: #fff;
}
.textarea {
   width: 400px;
   margin: 10px 80px 10px 10px;
   height: 150px;
   padding: 5px;
   border: 2px solid #00bcd4;
   overflow: hidden;
}
.description {
   height: 100%;
   width: 100%;
   font-size: 20px;
   border: 0;
   resize: none;
}
.edit-info-form-btn {
   border: none;
   background-color: #00bcd4;
   color: white;
   font-weight: bold;
   padding: 10px;
   width: 220px;
   margin: 20px 100px 0 auto;
   box-shadow: 0 0 10px gray;
} */

/* Edit password form start */
/* 
.edit-password-form {
   display: flex;
   flex-direction: column;
   margin: 30px 0;
}
.edit-password-form label {
   position: relative;
   font-size: 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 50px;
}
.edit-password-form input {
   margin: 10px 80px 10px 10px;
   width: 400px;
   padding: 5px 10px;
   border: 2px solid #00bcd4;
}
.edit-password-form label span {
   position: absolute;
   top: 20px;
   right: 90px;
   font-size: 28px;
   color: #00bcd4;
   cursor: pointer;
}
.password-error {
   position: absolute;
   right: 310px;
   bottom: -10px;
   font-size: 15px;
   color: red;
   display: none;
}
.new-password-error {
   position: absolute;
   left: 440px;
   bottom: -10px;
   font-size: 15px;
   color: red;
   display: none;
}
.confirm-password-error {
   position: absolute;
   left: 440px;
   bottom: -10px;
   font-size: 15px;
   color: red;
   display: none;
}
.edit-password-form-btn {
   border: none;
   background-color: #00bcd4;
   color: white;
   font-weight: bold;
   padding: 10px;
   width: 220px;
   margin: 20px 100px 0 auto;
   box-shadow: 0 0 10px gray;
} */
/* Edit password form end */