.search-page {
   background-color: #fff;
}
.result {
   display: block;
   color: #b5b5b5;
   font-size: 18px;
   padding: 10px 0 15px 20px;
}
.no_result {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #b5b5b5;
}
.no_result span {
   font-size: 200px;
   margin: 20px;
}
.no_result b {
   font-size: 30px;
}
ul {
   padding: 0;
}
li {
   display: block;
}
.items {
   display: flex;
   justify-content: space-between;
   padding: 25px;
   text-decoration: none;
   color: inherit;
}
.items:hover {
   box-shadow: 0 0 30px #d0d0d0;
}
.title {
   display: block;
   font-weight: 600;
   font-size: 18px;
}
.date {
   font-size: 14px;
   color: red;
   font-weight: 600;
   display: block;
}
.category {
   font-size: 14px;
   color: rgb(111, 114, 135);
}
.image img {
   height: 130px;
   width: 200px;
   object-fit: cover;
}
