.search-page {
   background-color: #fff;
}
.results_count {
   background: var(--color-scheme);
   color: white;
   padding: 10px 25px;
   font-weight: 400;
}
.results_count span {
   margin-right: 5px;
}
.results_count b {
   font-weight: 500;
}
.no_result {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #b5b5b5;
   padding-bottom: 30px;
}
.no_result span {
   font-size: 200px;
   margin: 20px;
   color: var(--color-scheme);
   margin-bottom: 10px;
}
.no_result p {
   font-size: 30px;
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 0;
}
.items {
   display: flex;
   justify-content: space-between;
   padding: 25px;
   text-decoration: none;
   color: inherit;
   transition: 0.3s;
   border-bottom: 1px solid #dadada;
}
.items:hover {
   color: initial;
   box-shadow: 0 16px 64px -16px rgb(46 55 77 / 15%);
}
.title {
   font-weight: 500;
   font-size: 18px;
}
.date {
   color: var(--color-scheme);
   font-weight: 500;
   display: flex;
   margin: 8px 0;
   font-size: 16px;
}
.category {
   font-weight: 300;
   font-size: 16px;
}
.result-image {
   height: 130px;
   width: 200px;
   object-fit: cover;
   transition: 0.3s;
}
.with-text {
   display: block;
   justify-content: space-between;
   padding: 25px;
   text-decoration: none;
   color: inherit;
   border-bottom: 1px solid #dadada;
   position: relative;
   padding-bottom: 40px;
}
.with-text .title {
   font-weight: 500;
   font-size: 18px;
   display: block;
}
.with-text .date {
   color: var(--color-scheme);
   font-weight: 500;
   display: block;
   margin: 8px 0;
   font-size: 16px;
   position: absolute;
   right: 25px;
   bottom: 6px;
   margin: 0px;
}
.with-text .category {
   font-weight: 300;
   font-size: 16px;
   position: absolute;
   display: block;
   left: 25px;
   bottom: 6px;
}
.with-text .text {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.with-text .text span {
   overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   margin-right: 25px;
}
