@media screen and (max-width: 991px) {
   .width-33:first-child,
   .width-33:last-child {
      width: 50%;
   }
   .width-33:nth-child(2) {
      display: none;
   }
   .projects-page {
      margin-bottom: 30px;
   }
}