.knowledge-create-page ul, h3, h4 {
   margin: 0px;
   padding: 0px;
}
.knowledge-create-page li {
   display: block;
}
/* Accordion */
.accordion-button {
   border-radius: 0 !important;
   border: none;
   background-color: white;
   color: black;
   font-size: 16px;
   margin-bottom: 3px;
   padding: 15px 20px;
   display: flex;
   justify-content: space-between;
}
.accordion-button span {
   color: var(--color-scheme);
   transition: 0.3s ease;
}
.accordion-button:not(.collapsed) {
   background-color: var(--color-scheme);
   color: white;
}
.accordion-button:not(.collapsed) span {
   transform: rotate(180deg);
   color: white;
}
.accordion-button.collapsed:hover {
   background-color: whitesmoke;
}
.accordion-button:focus {
   box-shadow: none;
}
.accordion-button::after {
   display: none;
}
.accordion-collapse {
   border: none;
}
.subject.accordion-body {
   padding: 0 0 0 50px;
}
.subjectcat.accordion-body {
   padding: 4px 0 4px 50px;
}
.mat-items a {
   color: black;
   text-decoration: none;
   background-color: #fff;
   padding: 15px 20px;
   margin-bottom: 2px;
   transition: 0.3s;
   display: flex;
}
.mat-items a:hover {
   background-color: whitesmoke;
}
.mat-items span {
   margin-right: 10px;
}
/* Accordion end */