.home-page {
   width: 100%;
}
/* Owl carousel start */
.owl-carousel-container {
   position: relative;
   margin-top: 25px;
}
.owl-carousel .item img {
   width: 100%;
   object-fit: cover;
   cursor: grab;
}
.owl-theme .owl-dots {
   position: absolute;
   bottom: 10px;
   width: 100%;
}
.owl-navs {
   position: absolute;
   top: 45%;
   z-index: 2;
   color: white;
   cursor: pointer;
}
.owl-nav-prev {
   left: 10px;
}
.owl-nav-next {
   right: 10px;
}
/* Owl carousel end */
.about-company {
   background-color: #fff;
   padding: 20px;
   margin-top: 20px;
}
.about-company-text {
   margin-bottom: 0;
   line-height: 1.7;
   font-weight: 300;
}
.about-company-text li{
   padding: 10px 0px;
}