.home-page {
   width: 100%;
}
.navbar-dropdown {
   display: none;
}
/* Owl carousel start */
.owl-carousel-container {
   position: relative;
   margin-top: 25px;
}
.owl-carousel .item img {
   width: 100%;
   height: 450px;
   object-fit: cover;
   cursor: grab;
}
.owl-theme .owl-dots {
   position: absolute;
   bottom: 10px;
   width: 100%;
}
.owl-carousel a p {
   color: black;
}
.owl-carousel p {
   position: absolute;
   top: 38%;
   left: 110px;
   font-weight: 500;
   font-style: italic;
   font-size: 22px;
   text-decoration: underline;
}
.owl-navs {
   position: absolute;
   top: 45%;
   z-index: 2;
   color: white;
   cursor: pointer;
}
.owl-nav-prev {
   left: 10px;
}
.owl-nav-next {
   right: 10px;
}
.owl-carousel a p {
   width: 65%;
}
/* Owl carousel end */
.about-company {
   background-color: #fff;
   padding: 20px;
   margin-top: 20px;
}
.about-company-text {
   margin-bottom: 0;
   line-height: 1.7;
   font-weight: 300;
}
.about-company-text li{
  padding: 10px 0px;
}