@media screen and (max-width: 1500px) {
   /* Main page & categories start */
   .wrapper {
      margin-bottom: 30px;
   }
   .wrapper a {
      width: calc(50% - 15px);
   }
   .single-news h3 {
      font-size: 16px;
   }
   .single-news {
      margin-bottom: 30px;
   }
   .latest-news {
      padding: 30px;
   }
   /* Main page & categories end */

   /* Single news page start */
   .news-content h3 {
      font-size: 17px;
   }
   .comments-container h3 {
      font-size: 17px;
   }
   .single-comment h6 {
      font-size: 15px;
   }
   /* Single news page end */
}
@media screen and (max-width: 991px) {
   .wrapper a {
      margin: 5px;
      width: auto;
   }
   .latest-news {
      padding: 8px;
   }
   .single-news {
      position: relative;
      margin-bottom: 12px;
   }
   .single-news img {
      display: none;
   }
   .single-news a {
      margin: 0;
      width: 100%;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
   }
}