@media screen and (max-width: 1500px) {
   /* Main page & categories start */
   .wrapper {
      margin-bottom: 30px;
   }
   .wrapper a {
      width: calc(50% - 15px);
   }
   .single-news h3 {
      font-size: 16px;
   }
   .single-news {
      margin-bottom: 30px;
   }
   .latest-news {
      padding: 30px;
   }
   /* Main page & categories end */

   /* Single news page start */
   .news-content h3 {
      font-size: 17px;
   }
   .comments-container h3 {
      font-size: 17px;
   }
   .single-comment h6 {
      font-size: 15px;
   }
   /* Single news page end */
}
@media screen and (max-width: 991px) {
    .latest-news {
        padding: 0px;
        background-color: transparent;
    }
    .single-news {
        margin: 0px;
    }
    .single-news img {
        display: none;
    }
    .single-news a {
        margin: 0 0 15px 0;
        padding: 15px;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
    }
    .single-news h3 {
        font-size: 18px;
    }
    .news-desc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .news-view {
        color: #fff;
        background-color: var(--color-scheme);
        padding: 3px 8px;
        border-radius: 2px;
    }
    .news-content h3 {
        padding: 15px;
        height: 44px;
        display: flex;
        align-items: center;
    }
    .news-content .news-content-text {
        padding: 15px;
    }
}