/* News main page */
section {
   margin-top: 25px;
}
img {
   max-width: 100%;
}
.wrapper {
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
}
.wrapper a {
   width: calc(50% - 20px);
   overflow: hidden;
   text-decoration: none;
}
.wrapper a img {
   transition: 0.3s;
}
.wrapper a:hover img {
   transform: scale(1.2);
}
.wrapper a p {
   width: 100%;
   background: white;
   display: flex;
   padding: 15px 20px;
   text-decoration: none;
   color: #00bcd4;
   font-weight: bold;
   z-index: 2;
   position: relative;
   margin: 0;
}

/* Latest news start */
.latest-news {
   padding: 40px;
   background: white;
}
.single-news {
   display: flex;
   margin-bottom: 40px;
}
.latest-news .single-news:last-child {
   margin-bottom: 0;
}
.single-news img {
   width: 45%;
   object-fit: cover;
   border-radius: 4px;
}
.single-news a {
   box-shadow: 0px 5px 5px rgb(0 0 0 / 6%);
   background: white;
   margin: 25px 0 25px -100px;
   padding: 25px;
   border-radius: 4px;
   text-decoration: none;
   color: #212529;
}
.single-news h3 {
   font-size: 20px;
   line-height: 1;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   margin-bottom: 12px;
}
.single-news p {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   margin-bottom: 12px;
}
.single-news .news-date {
   font-weight: bold;
   color: #00bcd4;
   font-size: 14px;
}
/* Latest news end */

/* single news page start */
.news-content {
   background: white;
}
.news-content h3 {
   font-size: 18px;
   margin: 0;
   padding: 25px;
   font-weight: bold;
   line-height: 1;
   color: #00bcd4;
}
.news-content img {
   width: 100%;
   max-width: 100%;
}
.news-content .news-content-text {
   padding: 25px;
   margin-bottom: 0;
   font-weight: 300;
   line-height: 1.7;
}
.grades-container {
   padding: 0 25px 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.grades-container .news-content-date {
   font-weight: 400;
   font-size: 15px;
   display: flex;
   align-items: center;
   color: #313131;
   text-transform: capitalize;
}
.grades-container .news-content-date span {
   padding-bottom: 2px;
   margin-right: 5px;
   cursor: auto;
   color: #929292;
}
.grades-container .grade-icons-container {
   color: #00bcd4;
   display: flex;
   align-items: center;
}
.grades-container .like-icons {
   margin-right: 30px;
}
.grades-container span {
   cursor: pointer;
}
.grades-container .grades-count {
   font-size: 22px;
   margin: 0 8px;
   color: black;
}

/* Grades modal start */
.grades-modal .modal-title {
   display: flex;
   align-items: center;
   font-size: 18px;
   font-weight: bold;
}
.grades-modal .modal-title span {
   color: #00bcd4;
   margin-right: 10px;
}
.grades-modal .modal-item {
   margin-bottom: 10px;
   display: flex;
   align-items: center;
}
.grades-modal .modal-item:last-child {
   margin-bottom: 0;
}
.grades-modal .modal-item img {
   border-radius: 50%;
   width: 30px;
   height: 30px;
   margin-right: 10px;
}
.grades-modal .modal-dialog {
   width: 450px;
}
.grades-container .hidden {
   display: none;
}
/* Grades modal end */

/* Comments start */
.comments-container {
   padding: 25px;
   background: white;
   border-top: 1px solid #e0e0e0;
}
.comments-container h3 {
   font-size: 18px;
   margin: 0;
   font-weight: bold;
   line-height: 1;
   color: #00bcd4;
}
.comments-container form {
   margin: 25px 0;
   display: flex;
   border: 1px solid #e0e0e0;
   border-radius: 40px;
   padding: 10px 15px;
   align-items: center;
}
.comments-container form img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}
.comments-container form input {
   width: 100%;
   border: none;
   height: 100%;
   padding: 5px 15px;
   font-weight: 300;
}
.comments-container form input::placeholder {
   opacity: 0.6;
}
.comments-container form button {
   background: transparent;
   border: none;
   padding: 0;
   line-height: 0;
   color: #b1b1b1;
   transition: 0.3s;
}
.comments-container form button:hover {
   color: #00bcd4;
   transform: translateX(4px);
}
.single-comment {
   margin-bottom: 20px;
   display: flex;
}
.single-comment:last-child {
   margin-bottom: 0;
}
.single-comment img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 20px;
}
.single-comment h6 {
   font-weight: bold;
   margin-bottom: 4px;
}
.single-comment span {
   color: #c5c5c5;
}
.single-comment p {
   margin-top: 8px;
}
/* Comments end */
/* single news page end */