
/* Main page styles start */
.departments-list-item {
   margin-bottom: 40px;
}
.departments-list-item h2 {
   background: var(--color-scheme);
   color: white;
   padding: 12px 20px;
   font-weight: 400;
   font-size: 17px;
   margin-bottom: 0;
   display: flex;
    align-items: center;
}
.departments-list-item h2 span {
   font-size: 20px;
   margin-right: 5px;
}
.departments-list-item .users-list {
   display: flex;
   flex-wrap: wrap;
}
.users-list  .users-list-item {
   width: 33.3%;
   display: flex;
   background: white;
   text-decoration: none;
   box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
}
.users-list-item img {
   width: 35%;
   object-fit: cover;
}
.users-list-item div {
   width: 65%;
   padding-left: 15px;
   height: 100%;
   padding: 10px;
   text-decoration: none;
}
.users-list-item h6 {
   color: var(--color-scheme);
   margin-bottom: 8px;
}
.users-list-item p {
   margin-bottom: 8px;
   line-height: normal;
   font-weight: 400;
   color: #212529;
}
.users-list-item span {
   font-weight: 300;
   color: #212529;
}



.primary-list-item {
   align-items: center;
}
.dash-search-container {
   margin-bottom: 15px;
}
.structure-links {
   display: flex;
}
.structure-links a {
   margin: 0 5px;
}
/* Main page styles start */


/* Inner pages styles start */
.structure-user-update h2, .structure-user-create h2 {
   margin: 30px 0 35px;
}
.btns-edit-container {
   display: flex;
}
.btns-edit-container button {
   padding: 9px 20px;
}
.btns-edit-container .delete-btn {
   margin-left: 20px;
}
.edit-modals form label {
   display: flex;
   justify-content: space-between;
   margin-bottom: 15px;
}
.edit-modals form label:last-child {
   margin-bottom: 0;
}
.edit-modals form label input {
   min-width: 70%;
}
/* Inner pages styles end */


/* Positions start */
.select2_single_container {
   margin: 0;
   width: 70%;
   border: 1px solid #d2d2d2;
   border-radius: 5px;
   overflow: hidden;
}
.select2_single_container .select2-container--default {
   width: 100% !important;
}
/* Positions end */

