
/* Structure page start */
.departments-list-item {
   margin-bottom: 40px;
}
.departments-list-item h2 {
   background: var(--color-scheme);
   color: white;
   padding: 12px 20px;
   font-weight: 400;
   font-size: 17px;
   margin-bottom: 0;
   display: flex;
    align-items: center;
}
.departments-list-item h2 span {
   font-size: 20px;
   margin-right: 5px;
}
.departments-list-item .users-list {
   display: flex;
   flex-wrap: wrap;
}
.users-list  .users-list-item {
   width: 33.3%;
   display: flex;
   background: white;
   text-decoration: none;
   box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
}
.users-list-item img {
   width: 35%;
   object-fit: cover;
}
.users-list-item div {
   width: 65%;
   padding-left: 15px;
   height: 100%;
   padding: 10px;
   text-decoration: none;
}
.users-list-item h6 {
   color: var(--color-scheme);
   margin-bottom: 8px;
}
.users-list-item p {
   margin-bottom: 8px;
   line-height: normal;
   font-weight: 400;
   color: #212529;
}
.users-list-item span {
   font-weight: 300;
   color: #212529;
}
.dash-search-container {
   margin-bottom: 10px;
}
.structure-links {
   display: flex;
}
.structure-links a {
   margin: 0 5px;
   border-radius: 0px;
   padding: 10px 30px;
}
/* Structure page end */

.structure-user-update h2, .structure-user-create h2 {
   margin: 30px 0 35px;
}
/* Departments/Designation start */
.primary-items {
   position: relative;
}
.buttons .delete-btn {
   position: absolute;
   top: 5px;
   right: 10px;
   padding: 4px 8px;
}
.buttons .update-btn {
   position: absolute;
   top: 5px;
   right: 120px;
   padding: 4px 8px;
}
.dash-search-container {
   margin: 0;
}
.primary-items .modal-footer .form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}
.primary-items .modal-footer label {
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 10px;
}
.primary-items .modal-footer label input {
   width: 70%;
}
.primary-items .modal-footer .d-btn {
   display: flex;
   margin-right: -200px;
   margin-top: 10px;
}
.primary-items .modal-footer .d-btn button {
   margin: 5px;
}
/* Departments/Designation end */
/* Positions start */
.select2_single_container {
   margin: 0;
   width: 70%;
   border: 1px solid #d2d2d2;
   border-radius: 5px;
   overflow: hidden;
}
.select2_single_container .select2-container--default {
   width: 100% !important;
}
/* Positions end */

