/* About Page start */
.about-page .wrapper {
   position: relative;
}
.about-page .wrapper img {
   width: 100%;
}
.about-page .wrapper a {
   position: absolute;
   top: 30%;
   background: white;
   width: 50%;
   padding: 25px 25px 18px;
   right: 10px;
   text-decoration: none;
   color: black;
}
.about-page .wrapper:nth-child(2) a {
   left: 10px;
}
.about-page .wrapper h2 {
   font-size: 22px;
   font-weight: bold;
   margin-bottom: 12px;
}
.about-page .wrapper p {
   font-weight: 300;
   margin: 0;
}
.about-page .wrapper a i {
   display: block;
   width: -moz-fit-content;
   width: fit-content;
   margin-left: auto;
   color: var(--color-scheme);
   font-size: 30px;
   transition: 0.3s;
}
.about-page .wrapper a:hover i {
   transform: translateX(8px);
}
/* About Page end */

/* Structure page start */
.departments-list-item {
   margin-bottom: 40px;
}
.departments-list-item h2 {
   background: var(--color-scheme);
   color: white;
   padding: 12px 20px;
   font-weight: 500;
   font-size: 17px;
   margin-bottom: 0;
   display: flex;
    align-items: center;
}
.departments-list-item h2 span {
   font-size: 20px;
   margin-right: 5px;
}
.departments-list-item .users-list {
   display: flex;
   flex-wrap: wrap;
}
.users-list  .users-list-item {
   width: 33.3%;
   display: flex;
   background: white;
   text-decoration: none;
   box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
}
.users-list-item img {
   width: 35%;
   object-fit: cover;
}
.users-list-item div {
   width: 65%;
   padding-left: 15px;
   height: 100%;
   padding: 10px;
   text-decoration: none;
}
.users-list-item h6 {
   color: var(--color-scheme);
   margin-bottom: 8px;

}
.users-list-item p {
   margin-bottom: 8px;
   line-height: normal;
   font-weight: 400;
   color: #212529;
}
.users-list-item span {
   font-weight: 300;
   color: #212529;
}
/* Structure page end */
