
@media screen and (max-width: 1500px) {
   .dashboard a span {
      display: none;
   }
   .dashboard a {
      grid-template-columns: 1fr;
   }
   .dashboard:hover a {
      grid-template-columns: 30px 1fr;
   }
}