@media screen and (max-width: 1500px) {
   body {
      font-size: 15px;
   }
   p {
      font-size: 15px;
   }
   .text-block {
      margin: 30px 0;
   }
   /* Toolbar start */
   .toolbar {
      padding: 12px 30px 8px;
   }
   .toolbar-right {
      margin-left: 150px;
   }
   .search-form input {
      width: 450px;
      font-size: 15px;
   }
   .lang-dropdown ul {
      min-width: 100px;
   }
   /* Toolbar end */
   
   /* Dashboard start */
   .dashboard {
      top: 58px;
   }
   .dashboard-btn .dash-toogler {
      margin-left: 25px;
   }
   .dashboard .profile-ava {
      padding: 0 18px 15px;
      margin-top: 20px;
   }
   .dashboard .profile-ava a {
      font-size: 15px;
   }
   .dashboard .dash-links {
      padding: 15px 15px 0;
   }
   .dashboard .dash-links a {
      font-size: 14px;
      padding: 8px 14px;
   }
   /* Dashboard end */

   /* Navbar start */
   .navbar li a {
      font-size: 14px;
      padding: 21px 20px 16px;
   }
   /* Navbar end */

   /* Content start */
   .breadcrumbs {
      margin-top: 30px;
   }
   main {
      width: 100%;
      padding: 30px 0;
   }
   .content {
      padding-right: 30px;
      width: calc(100% - 300px);
   }
   section {
      margin-top: 30px;
   }
   /* Content end */

   /* Sidebar start */
   #sidebar {
      width: 300px;
   }
   .sidebar-news, .sidebar-ads {
      margin-bottom: 30px;
   }
   .sidebar-single-news h4 {
      font-size: 15px;
   }
}
   /* Sidebar end */
   @media screen and (max-width: 991px) {
    /* main styles start */
    .sidebar,
    .main-nav,
    .dashboard-btn {
        display: none;
    }
    .mobile-dashboard,
    #mobile-search,
    .mobile-sidebar,
    .mob-set {
        display: block;
    }
    .mob-set {
        border-bottom: 2px solid var(--color-scheme);
    }
    main {
        padding: 59px 0 0 0;
    }
    .content {
        width: 100%;
        padding: 0;
    }
    .breadcrumbs {
        display: none;
    }
    section {
        margin: 0;
    }
    /* main styles end */

    /* !toolbar styles start */
    .toolbar {
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88;
        background-color: var(--color-scheme);
    }
    .search-form,
    .lang-dropdown {
        display: none;
    }
    .toolbar-inner {
        justify-content: space-between;
        height: 44px;
    }
    .tgem-logo {
        display: block;
    }
    .tgem-logo a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #fff;
        text-decoration: none;
    }
    .tgem-logo a img {
        height: 36px;
    }
    .toolbar-right {
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .toolbar-right a {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    .toolbar-right a:hover {
        background-color: rgba(0,0,0,0.05);
    }
    .toolbar-right a span {
        color: #fff;
        margin: 5px;
        font-size: 28px;
    }
    .menu-icon {
        display: flex;
    }
    .menu-icon button {
        border: none;
        padding: 0;
        background-color: rgba(0,0,0,0.05);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-icon button span {
        color: #fff;
        margin: 5px 8px;
        font-size: 28px;
    }
    .toolbar-items .badge {
        top: 2px;
        right: 0px;
        font-size: 14px;
        margin: 0;
        padding: 0px;
        background-color: transparent !important;
        color: red;
        font-weight: 600;
        text-shadow: 0 0 3px red;
    }
    /* !toolbar styles end */
    /* !home styles start */
    .sidebar-ads {
        margin: 15px 0px;
        min-height: 44px;
    }
    .sidebar-ads h1,
    .sidebar-news h1,
    .birthdays h1 {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 44px;
        padding: 0 15px;
        margin: 0;
    }
    .sidebar-ads .ads-single {
        padding: 15px;
    }
    .sidebar-news {
        margin: 0px;
    }
    .sidebar-single-news h4 {
        margin: 10px 0 5px 0;
        padding: 0 15px;
    }
    .sidebar-single-news p {
        padding: 0 15px;
    }
    .birthdays {
        margin: 15px 0;
        background-color: #fff;
        padding-bottom: 1px;
    }
    .birthdays img {
        width: 100%;
    }
    .single-birthday span {
        padding: 5px 15px;
    }
    .single-birthday p {
        font-size: 18px;
        padding: 0px 15px;
        font-weight: 600;
    }
    /* !home styles start */
    /* !mobile dashboard styles start */
    .mobile-dashboard,
    .search-block {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        height: 100vh;
        width: 290px;
        overflow: hidden;
        transition-duration: .5s;
        background-size: cover;
        overflow-y: scroll;
    }
    .mobile-dashboard .overlay,
    .search-block .overlay {
        position: fixed;
        height: 100%;
        width: 290px;
        background-color: black;
        opacity: 0.7;
        transition-duration: .5s;        
    }
    .mobile-dashboard.hidden,
    .search-block.hidden {
        left: -290px;
    }
    .dashtools {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0,0,0,0.8);
        height: 44px;
        z-index: 99;
    }
    .dashtools button,
    .close-search-btn {
        border: none;
        background-color: rgba(0,0,0,0);
        color: #fff;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        user-select: none;
        border: 1px solid rgba(255,255,255,0.05);
    }
    .dashtools button:hover,
    .close-search-btn:hover {
        background-color: rgba(0,0,0,0.3);
    }
    .dashtools button span,
    .close-search-btn span {
        font-weight: 600;
    }
    .account-btn {
        width: 100%;
    }
    .account-btn span {
        margin-left: 4px;
    }
    .dash-content {
        position: absolute;
        top: 44px;
        left: 0px;
        transition-duration: .5s;
    }
    .dash-content.hidden {
        height: 0px;
        overflow: hidden;
    }
    .navigation,
    .users-dash {
        padding: 0px;
        margin: 15px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 290px;
    }
    .navigation-items,
    .users-dash-items,
    .users-dash-items form {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .navigation-items a,
    .page-link-btn,
    .users-dash-items a,
    .users-dash-items button {
        display: flex;
        align-items: center;
        width: 100%;
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        padding: 6px 30px;
        height: 44px;
    }
    .users-dash-items button {
        background-color: transparent;
        border: none;
        margin-bottom: 30px;
    }
    .navigation-items a:hover,
    .navigation-items.active,
    .page-items.active,
    .users-dash-items a:hover,
    .users-dash-items.active{
        background-color: rgba(0,0,0,0.8);    
    }
    .page-link-btn {
        border: none;
        background-color: rgba(0,0,0,0);
    }
    .page-list {
        padding: 0;
        width: 100%;
        height: 88px;
        transition-duration: .5s;
        overflow: hidden;
    }
    .page-list.hidden {
        height: 0px;
        overflow: hidden;
    }
    .page-items {
        display: block;
        width: 100%;
        
    }
    .page-items a {
        padding-left: 60px;
        font-size: 16px;
    }

    #search_input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border: none;
        background-color: rgba(0,0,0,0);
        color: #fff;
        font-size: 18px;
        padding-left: 10px;
        height: 44px;
    }
    .dash-block {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: scroll;
        transition-duration: 1s;
        z-index: 31;
        background-size: cover;
        padding: 44px 0 0 0;
    }
    .dash-block .secOverlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 850px;
        width: 290px;
        background-color: black;
        opacity: 0.7;
        z-index: -1;
    }
    .dash-block.hidden {
        height: 0;
    }
    .users-dash-items span {
        margin-right: 6px;
    }
    /* search section styles start */
    .search-section {
        overflow: scroll;
        padding: 15px;
        position: relative;
        margin-bottom: 30px;
    }
    .results_count {
        margin: 0;
        color: #fff;
        line-height: 1.1;
        font-size: 14px;
    }
    .no_result {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0px;
    }
    .no_result span {
        color: #fff;
        font-size: 50px;
    }
    .no_result p {
        color: #fff;
        margin-top: 15px;
        text-align: center;
    }
    .results-list .items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        text-decoration: none;
        color: #fff;
        line-height: 1.3;
    }
    .results-list .title {
        display: block;
        font-weight: 600;
        width: 165px;
        overflow: hidden;
    }
    .results-list .date {
        display: block;
        color: green;
    }
    .results-list .category {
        display: block;
        color: red;
    }
    .result-image {
        display: block;
        width: 90px;
        height: 60px;
    }
    /* search section styles end */

    /* !mobile dashboard styles end */
}