
body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   background: #EAEFF3;
   min-height: 100vh;
}
*:focus {
   outline: none;
}
button:focus {
   outline: none;
}
::-moz-selection { /* Code for Firefox */
   color: white;
   background: #1A078F;
 }
 ::selection {
   color: white;
   background: #1A078F;
 }
 body::-webkit-scrollbar {
   width: 8px;
 }
 body::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px #46445C;
   box-shadow: inset 0 0 6px #46445C;
 }
 body::-webkit-scrollbar-thumb {
 background-color: #46445C;
 outline: 1px solid #46445C;
 }
 #scrollTop {
   color: white;
   font-size: 35px;
   position: fixed;
   bottom: 60px;
   right: 40px;
   background-color: #7151ed;
   width: 60px;
   height: 60px;
   border-radius: 100%;
   z-index: 99;
   border: 2px solid #7151ed;
   transition: 0.3s linear;
}
#scrollTop:hover {
   background-color: white;
   color: #7151ed;
}
#scrollTop:hover i {
   -webkit-animation: bounce 0.5s infinite;
   animation: bounce 0.5s infinite;
}
@keyframes bounce {
   50% {
     -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
     -ms-transform: translateY(-5px);
     -o-transform: translateY(-5px);
     transform: translateY(-5px); 
   } 
}
.primary-btn {
   transition: all 0.5s ease 0s;
   background: linear-gradient(rgb(95, 69, 235), rgb(126, 91, 239)) rgb(95, 69, 235);
   color: rgb(249, 250, 252);
   border: 1px solid rgb(126, 91, 239);
   border-radius: 6px;
   padding: 8px 35px;
   line-height: 1;
   font-weight: 400;
   margin: 0;
}
.primary-btn:hover {
   background:  rgb(249, 250, 252);
   border: 1px solid rgb(126, 91, 239);
   color: rgb(126, 91, 239);
}
.primary-btn-shadow {
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
main {
   width: 1310px;
   margin: 50px auto 0;
   display: flex;
   justify-content: space-between;
}
.content {
   width: 1000px;
}
#sidebar {
   width: 310px;
}

/* Pagination start */
.pagination {
   margin: 20px 0;
   justify-content: center;
}
.page-item {
   margin: 4px;
}
.page-link {
   border: none;
   border-radius: 5px;
   width: 35px;
   height: 35px;
   line-height: 35px;
   padding: 0;
   margin: 0;
   text-align: center;
   font-weight: 600;
   box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
   font-size: 30px;
   line-height: 30px;
}
/* Pagination end */

/* Dashboard start */
.dashboard-btn {
   position: fixed;
   top: 0;
   color: grey;
   font-size: 20px;
   width: 40px;
   z-index: 10;
   display: flex;
   align-items: center;
   height: 56px;
}
.dashboard-btn .m-lang {
   cursor: pointer;
   padding: 12px;
   margin-left: 8px;
   border-radius: 50%;
   transition: 0.3s;
}
.dashboard-btn .m-lang:hover {
   background: #ecebec;
}
.dashboard {
   position: fixed;
   top: 56px;
   bottom: 0;
   left: 0;
   width: 220px;
   background: #191919;
   box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
   transition-property: top,bottom,width;
   transition-duration: .2s,.2s,.35s;
   transition-timing-function: linear,linear,ease;
   -webkit-overflow-scrolling: touch;
   overflow: hidden!important;
   overflow-anchor: none;
   -ms-overflow-style: none;
   touch-action: auto;
   -ms-touch-action: auto;
   background-size: cover;
}
.dashboard .profile-ava {
   padding: 0 20px 26px;
   margin-top: 26px;
   position: relative;
}
.dashboard .profile-ava img {
   width: 30px;
   border-radius: 50%;
   margin-right: 12px;
}
.dashboard .profile-ava::after {
   content: "";
   position: absolute;
   bottom: 0;
   right: 15px;
   height: 1px;
   width: calc(100% - 30px);
   background-color: hsla(0,0%,71%,.3);
}
.dashboard .profile-ava a {
   font-size: 16px;
   display: flex;
   align-items: center;
   color: white;
   text-decoration: none;
}
.dashboard .profile-ava i {
   margin-right: 12px;
   margin-bottom: 2px;
   font-size: 20px;
}
.dashboard .dash-links {
   padding: 20px 15px 0;
}
.dashboard .dash-links a {
   color: white;
   text-decoration: none;
   font-weight: 300;
   font-size: 15px;
   display: flex;
   padding: 10px;
   margin-bottom: 5px;
   align-items: center;
   transition: 0.3s;
}
.dashboard .dash-links a.active {
   background-color: #e91e63 !important;
   box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(233 30 99 / 40%);
}
.dashboard .dash-links a:hover {
   background: #ffffff2e;
}
.dashboard .dash-links a span {
   margin-right: 18px;
   font-size: 22px;
   opacity: 0.9;
}
/* Dashboard end */

/* Navbar start */
.main-nav {
   padding-right: 40px;
}
.navbar {
   margin: 0 auto 20px auto;
   background-color: #F7F7F7;
   display: flex;
   justify-content: space-between;
   padding: 15px 50px;
}
.navbar-items {
   display: block;
}
.navbar-items a {
   color: black;
   font-weight: 500;
   font-size: 15px;
   text-transform: uppercase;
   text-decoration: none;
}
.navbar-items.active a {
   text-decoration: underline;
   font-weight: bold;
}
/* Navbar end */

/* TOOLBAR START */
.toolbar {
   position: sticky;
   top: 0;
   left: 0;
   background-color: white;
   padding: 8px 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   z-index: 9;
}
.toolbar-right {
   margin: 0;
   padding: 0;
   display: flex;
}
.toolbar-items {
   display: block;
   cursor: pointer;
   margin: 4px 8px;
}
.toolbar-items span {
   color: grey;
   font-size: 22px;
}
.search-form {
   position: relative;
}
.search-form input {
   border: 1px solid #dcdcdc;
   border-radius: 20px;
   padding: 4px 15px;
   background-color: #F7F7F7;
   width: 600px;
}
.search-form input::placeholder {
   opacity: 0.5;
} 
.search-form button {
   border: none;
   background: none;
   color: #b9b9b9;
   position: absolute;
   left: 560px;
   top: 4px;
}
.search-form button i {
   font-size: 18px;
}
.btn-check:focus+.btn, .btn:focus {
   box-shadow: none;
}
.lang-dropdown img {
   width: 22px;
   margin-right: 5px;
}
/* TOOLBAR END */

/* SIDEBAR START */
.sidebar .div {
   background-color: #fff;
   padding: 10px;
   width: 100%;
   margin: 0px 0px 20px 0px;
}
.sidebar .title {
   width: -moz-fit-content;
   width: fit-content;
   font-size: 23px;
   color: #fff;
   background-color: rgb(0, 159, 217);
   padding: 5px 10px;
   margin: 25px 0 10px -25px;
}
.sidebar .title_top {
   margin: -35px 0 0 -25px !important;
}
.BD-list {
   position: relative;
   margin: 0px;
   padding: 0px;
}
.BD-items {
   position: relative;
   display: block;
   margin: 10px 0px;
   padding: 24px;
   box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
}
.BD-items img {
   display: block;
   width: 150px;
   height: 150px;
   background-color: #d8d8d8;
   border-radius: 50%;
   margin: 0 auto;
   object-fit: cover;
}
.BD-items dl {
   margin: 0;
   margin-top: 10px;
   text-align: center;
}
.BD-items dt {
   color: #004578;
   font-size: 20px;
}
.BD-items dd {
   margin: 0;
   color: #299DFE;
   font-size: 14px;
}
.BD-items p {
   margin: 0;
   color: #004578;
   font-weight: 400;
   overflow: hidden;
   text-overflow: ellipsis;
}
/* Sidebar news */
.news-list {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
}
.news-items a {
   color: inherit;
   text-decoration: none;
}
.news-items {
   display: block;
   box-shadow: 0 0 30px rgba(0,0,0,0.2);
   margin: 20px 0 0 0;
}
.news-items img {
   width: 100%;
}
.news-items div {
   padding: 10px 14px 10px 14px;
}
.news-title {
   font-size: 20px;
   margin: 0 0 8px 0;
}
.news-items .text {
   margin: 0 0 0 0;
   font-size: 15px;
   display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
}
.news-items .date {
   text-align: end;
   font-weight: bold;
   font-size: 13px;
   margin: 8px 10px 0px 0;
}
/* SIDEBAR END */