
body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   background: #EAEFF3;
   min-height: 100vh;
}
*:focus {
   outline: none;
}
button:focus {
   outline: none;
}
::-moz-selection { /* Code for Firefox */
   color: white;
   background: #7151ed;
 }
 ::selection {
   color: white;
   background: #7151ed;
 }
 body::-webkit-scrollbar {
   width: 8px;
 }
 body::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 }
 body::-webkit-scrollbar-thumb {
 background-color: #7151ed;
 outline: 1px solid #7151ed;
 }
 #scrollTop {
   color: white;
   font-size: 35px;
   position: fixed;
   bottom: 60px;
   right: 40px;
   background-color: #7151ed;
   width: 60px;
   height: 60px;
   border-radius: 100%;
   z-index: 99;
   border: 2px solid #7151ed;
   transition: 0.3s linear;
}
#scrollTop:hover {
   background-color: white;
   color: #7151ed;
}
#scrollTop:hover i {
   -webkit-animation: bounce 0.5s infinite;
   animation: bounce 0.5s infinite;
}
@keyframes bounce {
   50% {
     -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
     -ms-transform: translateY(-5px);
     -o-transform: translateY(-5px);
     transform: translateY(-5px); 
   } 
}
.primary-btn {
   transition: all 0.5s ease 0s;
   background: linear-gradient(rgb(95, 69, 235), rgb(126, 91, 239)) rgb(95, 69, 235);
   color: rgb(249, 250, 252);
   border: 1px solid rgb(126, 91, 239);
   border-radius: 6px;
   padding: 8px 35px;
   line-height: 1;
   font-weight: 400;
   margin: 0;
}
.primary-btn:hover {
   background:  rgb(249, 250, 252);
   border: 1px solid rgb(126, 91, 239);
   color: rgb(126, 91, 239);
}
.primary-btn-shadow {
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.main-container {
    width: 1600px;
    padding-top: 70px;
    padding-left: 170px;
    margin: auto;
}

/* Pagination start */
.pagination {
   margin: 40px 0 0;
   justify-content: center;
}
.page-link {
   color: black;
}
.page-item.active .page-link {
   background-color: #7151ed;
   border-color: #7151ed;
}
.page-link:focus {
   box-shadow: none;
   color: black;
}
.page-link:hover {
   color: black;
}
/* Pagination end */

/* Dashboard start */
.dashboard {
   padding-top: 40px;
   position: fixed;
   height: 100%;
   background: #004578;
   box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)!important;
   display: flex;
   flex-direction: column;
   transition-duration: 0.3s;
   transition-timing-function: cubic-bezier(1,0,0,1);
}
.dashboard:hover a span {
   display: inline;
}
.dashboard .ava-container {
   width: 100%;
   display: flex;
   justify-content: center;
}
.dashboard .profile-ava {
   width: 60px;
   height: 60px;
   object-fit: cover;
   border-radius: 50%;
   margin: 40px 20px;
   margin-bottom: 20px;
}
.dashboard a {
   color: white;
   margin: 2px 0px;
   padding: 12px;
   display: grid;
   grid-template-columns: 30px 1fr;
   text-decoration: none;
}
.dashboard a:hover {
   color: #206aa0;
   background: white;
}
.dashboard a i {
   font-size: 20px;
   display: block;
   margin: 0 auto;
}
.dashboard a span {
   transition: visibility 0.2s linear;
   margin: 0 10px;
}
/* Dashboard end */

/* Navbar start */
nav {
   position: relative;
}
.main-navbar {
   margin: 0;
   padding: 0;
   padding-right: 50px;
   background: white;
   display: flex;
   justify-content: space-around;
   border-bottom: 3px solid #274776;
}
.navbar-items {
   display: block;
   padding: 8px 4px;
   position: relative;
}
.navbar-items:hover {
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.05);
}
.navbar-items div {
   position: absolute;
   bottom: -1px;
   left: 0;
   width: 100%;
   border-bottom: 3px solid #274776;
   visibility: hidden;
}
.navbar-items div.active {
   visibility: visible;
}
.navbar-items a {
   font-weight: 500;
   color: #030F4F;
   text-decoration: none;
}
.navbar-items a i {
   color: #0080E6;
   margin-right: 3px;
}
.nav-lang-dropdown {
   position: absolute;
   right: 0;
   top: 3px;
   background-color: rgba(0,0,0,0.1);
   border-radius: 20px;
   padding-bottom: 1px;
   margin-right: 2px;
}
.nav-lang-dropdown:hover ul{
   display: block;
   margin-top: 30px;
   min-width: 75px;
   padding: 5px;
}
.dropdown img {
   width: 18px;
   height: 15px;
}
.dropdown button {
   font-size: 13px;
   font-weight: bold;
}
.btn-check:focus+.btn, .btn:focus {
   box-shadow: none;
}
.dropdown-toggle::after {
   display: none;
}
.dropdown-menu {
   inset: 0px auto auto -55px !important;
}
/* Navbar end */
/* TOOLBAR START */
.toolbar {
   position: fixed;
   top: 0;
   left: 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   background-color: white;
   height: 40px;
   width: 100%;
}
.toolbar-right {
   margin: 0;
   padding: 0;
   margin-left: 200px;
   display: grid;
   grid-template-columns: 40px 40px 40px;
   align-items: center;
   justify-items: center;
}
.toolbar-items {
   display: block;
   cursor: pointer;
}
.toolbar-items i {
   color: grey;
}
.search-form {
   position: relative;
}
.search-form input {
   border: 3px solid #E0E6EB;
   border-radius: 20px;
   padding: 0 15px;
   background-color: #F7F7F7;
   width: 600px;
}
.search-form button {
   border: none;
   background: none;
   color: #b9b9b9;
   position: absolute;
   left: 560px;
   top: 4px;
}
.search-form button i {
   font-size: 18px;
}
/* TOOLBAR END */