@media screen and (max-width: 1500px) {
   /* Main page & categories start */
   .wrapper {
      margin-bottom: 30px;
   }
   .wrapper a {
      width: calc(50% - 15px);
   }
   .category h3 {
      font-size: 16px;
   }
   .single-project {
      margin-bottom: 30px;
   }
   .category {
      padding: 30px;
   }
   /* Main page & categories end */

   /* Single news page start */
   .projects-content h3 {
      font-size: 17px;
   }
   .comments-container h3 {
      font-size: 17px;
   }
   .single-comment h6 {
      font-size: 15px;
   }
   /* Single news page end */
}